.header{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.navlinks{
    display: flex;
    align-items: stretch;
    gap: 20px;
    margin: 10px;
}

.navlinks a{
    text-decoration: none;
    color: #4d4136;
}

.navlinks a:hover {
    color: #8a7460;
}